* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #2b93ce, #ffffff);
  height: 100vh;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

div.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} 

div.img-container img {
  width: 15em;
} 

p {
  font-size: 3.5em;
  width: 100%;
  text-align: center;
}

p.small {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}